<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tree Uploader</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
</head>

<body>

    <h1>Tree Uploader</h1>

	<p>Upload Excel File (.xlsx) for Decision Tree creation and parametrization.</p>

    <div>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit onclick="$('#loading').show();" value=Upload>
        </form>
    </div>

    <br>


    <div id="loading" style="display:none;"><img src="loading.gif" alt="" />Loading...</div>

</body>

</html>
